.sidebar {
  grid-area: s;
}

.feeds, .account {
  background-color: #fff;
  margin: 0 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.feeds_items, .account_items {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  color: #888;
}


.feeds_item:hover, .account_item:hover {
  color: #1E74FD;
}

.feeds_name, .account_name {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}