.app_wrapper {
  background-color: #f7f7f7;
  display: grid;
  grid-template-areas: 
  "h h h"
  "s prof c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 8fr 2fr;
  grid-gap: 15px;
  min-height: 100vh;
}

.app_wrapper_content {
  grid-area: prof;
  justify-self: center;
}

.app_wrapper_container {
  border-radius: 10px;
  background-color: #fff;
  min-width: 800px;
  margin: auto;
  padding: 15px;
}